/*.container {
	margin: 15px;
}

div  .users_list * {
	text-align: center;
}





#wallpaper {
  margin:0;
  padding:0;
  background: url(http://hdwallpapers.cat/wallpaper/cgi_city_olympics_white_ny_abstract_3d_and_hd-wallpaper-1399011.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;  pour anciens Chrome et Safari 
  background-size: cover;  version standardisée 
}
*/
body { 
	  padding:0;
    padding-top: 65px; 
    margin:0;
  background: url(fond_accueil.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;  pour anciens Chrome et Safari 
  background-size: cover;  version standardisée */
}

footer {

	background-color: 222222;
}



.dropdown-menu .glyphicon {
  padding: 20px;
}

.user_profil_box {
  border : solid 1px black;
  width : auto;
  margin: 20px;
  padding: 20px;
  padding-bottom: 20px;
}

.description {
  width: auto;
}
