/* INDEX */

body { 
    background-color:white; 
    opacity:100%;
	  padding:0;
    padding-top: 50px; 
    margin:0;
    height:auto;
    width:100%;
}

.center {
  margin-top:0;
  padding-top:0;
  background: url("../../images/paris.jpg") no-repeat center;  /* Source: Pixabay */
  background-attachment: fixed;
  -webkit-background-size: cover; 
  background-size: 100% 100%; 
  min-height: calc(100vh - 40px);
}

.deconnected {
  margin-top: 7%;
}


/*Zone de recherche utilisateurs*/
#zone_opacity{
  width: 100%;
  min-height: 100px;
  background-color:gray;
  color:white;
  opacity:0.8;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#zone_opacity .input-group-addon{
  background-color: orange;
  color: white;
}
#zone_opacity p{
  border : 3px white solid;
}

#zone_opacity .form-group {
  margin: 0 5%;
}


/* MENU BAR */
.dropdown-menu .glyphicon {
  padding: 20px;
}


/* FOOTER */

.footer
{
  height: 14%;
  width : 100%;
  background-color : #292929;
  color : white;
  font-family : Dayrom, sans-serif;
  font-size : 12px;
  margin : 0;
}

.footer a{
  color: white;
}

.col-md-4 .footer-part
{
  color:white;
}

.footer a:hover
{
  color:orange;
  text-decoration: underline;
}
.flags{
  width: 25px;
  height: auto;
}

/* FORMULAIRE */
.form-horizontal {
  margin: 2%;
}

.fail {
  color : red;
}

.success {
  color: green;
}

#zone_opacity .row .col-md-4 .form-group .form-control{
    text-align: center;
}

/* Profil */

legend {
  margin-top: 3%;
}


.description {
  width: auto;
}

/* USER LIST */
.userlist_description {
  height: 5em;
  margin-bottom: 5%;
}